<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title%}{%endblock%}-Max's Oasis</title>
    <!--Jquery-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/base.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}" />

    <!--script src="main.js"></script-->
    {% block head%}{%endblock%}
    <style type="text/css">
        /* 动态为footer添加类fixed-bottom */

        .fixed-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            function footerPosition() {
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,//网页正文全文高度
                    winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
                if (!(contentHeight > winHeight)) {
                    //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse my-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="{{url_for('index')}}">
                    <img class="logo" src="{{url_for('static',filename = 'image/logo2.jpg')}}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav my-navbar">
                    <li class="active">
                        <a href="{{url_for('index')}}">HomePage
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li >
                        <a href="{{url_for('view')}}">View

                        </a>
                    </li>
                    <li >
                        <a href="{{url_for('post')}}">Post

                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right my-navbar">
                    <!-- <li>
                        <a href="{{url_for('login')}}">Sign In</a>
                    </li>
                    <li>
                        <a href="{{url_for('regist')}}">Sign Up</a>
                    </li> -->
                    {% if login_user %}
    <li><a href="#">{{ login_user }}</a></li>
    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
{% else %}
    <li><a href="{{ url_for('login') }}">Sign In</a></li>
    <li><a href="{{ url_for('regist') }}">Sign Up</a></li>
{% endif %}

                </ul>
                <div class="nav navbar-nav navbar-right my-navbar">
                    </ul>
                    <form class="navbar-form navbar-left myform">
                        <div class="form-group myform-group">
                            <input type="text" class="form-control myform-control   " placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default mybtn">Submit</button>
                    </form>
                </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="main">
        {% block main%}{% endblock%}
    </div>


    <!-- <section class="main-section paddind" id="download">
        <div class="container">
            <h2 style="color:white">Download</h2>
            <h6 class="dl">Version 1.0 now available for download:</h6>
         
            <ul class="Portfolio-nav wow fadeIn delay-02s animated" style="visibility: visible; animation-name: fadeIn;">
                <li>
                    <a href="">
                        <i class="fa fa-windows" aria-hidden="true"></i>&nbsp;&nbsp;Windows</a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-apple" aria-hidden="true"></i>&nbsp;&nbsp; MacOS</a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-linux" aria-hidden="true"></i>&nbsp;&nbsp;Linux</a>
                </li>
            </ul>
        </div>
    </section> -->
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <a href="#">
                    <img src="{{url_for('static',filename = 'image/foot.jpg')}}" alt="">
                </a>
            </div>
            <span class="copyright">Copyright © 2018 X Max. All Rights Reserved</span>
            <div class="credits">

            </div>
        </div>
    </footer>

</body>

</html>