.page-title{
    text-align: center;
    font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
}
.mycontainer{
    width: 555px;
    
}

.myformc{
    text-align: right;
    margin: 0 auto;
}